.section-title h2 {
  color: #ff0000;
  background-color: #363636;
}
.section-title.title-left h2{margin-left: -15px;}
.section-title.title-right h2{margin-right: -15px;}
.section-title h3 {
  font-size: 22px;
  color: #257970;
  margin-bottom: 20px; 
}
.section-title-footer h6 {
  font-size: 16px;
  color: #ff0000;
}
/* nav starts  */
.sticky-wrapper {height: 48px !important; }
.is-sticky .default-header {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff; }

.navbar-brand {color: #fff; }
.navbar-brand img {
  width: 100%;
  object-fit: cover;
}
.navbar-brand:hover {color: #031d1a; }
.navbar-light .navbar-toggler:focus {outline: 0px; }

.default-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; 
}

.navbar .dropdown .dropdown-menu.show {
  display: block;
  opacity: 1;
  visibility: visible; 
}

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  padding: 10px;
  transition: all .5s;
  position: relative;
}
.navbar-nav li a:after, .navbar-nav li a:before { transition: all .5s; }
.navbar-nav li a:hover {color: #257970; }
nav.fill li a {position: relative; }
.navbar-nav li a:hover:after {width: 100%; }
.navbar-nav .dropdown .dropdown-item {
  color: #222222;
  padding: 10px 20px;
  font-size: 11px; }
.navbar-nav .search {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 3px 5px;
  color: #257970; }
.navbar-nav .search:focus {outline: none; }
.header-scrolled {
  position: fixed;
  left: 0;
  width: 100%;
  background: #139daf;
  opacity: 0.7; }

/* navbar ends here*/

.footer-area .single-footer-widget h4 {
  color: #fff;
  margin-bottom: 35px; 
}
.footer-area .single-footer-widget ul li {margin-bottom: 15px; }
.footer-area .single-footer-widget ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #0827af; 
  }
.footer-area .single-footer-widget ul li a:hover {color: #fff; }
.footer-area .single-footer-widget .form-wrap {margin-top: 25px; }
.footer-area .single-footer-widget input {
  border: none;
  width: 70% !important;
  font-weight: 400;
  background: #363a4b;
  color: #fff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px; 
}
.footer-area .single-footer-widget input:focus {
  outline: none;
  box-shadow: none; 
}
.footer-area .single-footer-widget input.placeholder, .footer-area .single-footer-widget input:-moz-placeholder, .footer-area .single-footer-widget input::-moz-placeholder, .footer-area .single-footer-widget input::-webkit-input-placeholder {
  padding-left: 10px;
  color: #828bb2; 
}
.footer-area .single-footer-widget .click-btn {
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  left: -50px; 
}
.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none; 
  }
.footer-area .footer-bottom p {color: #fff; }
.footer-area .footer-bottom a {color: #24c4da; }
.footer-area .footer-bottom span {
  color: #24c4da;
  font-weight: 700; 
}
.footer-area .footer-bottom .footer-social {text-align: center; }
.footer-area .footer-bottom .footer-social a {
    background: #363a4b;
    margin-left: 5px;
    width: 40px;
    color: #fff;
    display: inline-grid;
    text-align: center;
    height: 40px;
    align-content: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; 
}
.footer-area .footer-bottom .footer-social a i {color: #fff; }

@media (max-width: 991px) {
  .footer-area .footer-bottom .footer-social {text-align: left; } 
  }
.btn:hover {background-color: #225f5f !important; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.788);
  z-index: 2;
  cursor: pointer; 
}

body {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative; 
  background-color: #363636;
}

* {
  padding: 0;
  margin: 0; }


a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a {
  text-decoration: none;
  outline: 0; }
  a:focus, a:hover {
    text-decoration: none;
    outline: 0; }

.btn.active.focus, .btn.active:focus {
  text-decoration: none;
  outline: 0; 
}
.btn.focus {
  text-decoration: none;
  outline: 0; 
}
.btn.focus:active {
    text-decoration: none;
    outline: 0; 
}
.btn:active:focus, .btn:focus {
  text-decoration: none;
  outline: 0; 
}

.card-panel {
  margin: 0;
  padding: 60px; 
}

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit; 
}

.gray-bg {
  background: #f9f9ff; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #222222; 
}

h1, .h1 {font-size: 36px; }
h2, .h2 {font-size: 30px; }
h3, .h3 {font-size: 24px; }
h4, .h4 {font-size: 18px; }
h5, .h5 {font-size: 16px; }
h6, .h6 {
  font-size: 14px;
  color: #222222; 
}

.clear::before {
  content: " ";
  display: table; 
}
.clear::after {
  content: " ";
  display: table;
  clear: both; 
}

.fz-11 {font-size: 11px; }
.fz-12 {font-size: 12px; }
.fz-13 {font-size: 13px; }
.fz-14 {font-size: 14px; }
.fz-15 {font-size: 15px; }
.fz-16 {font-size: 16px; }
.fz-18 {font-size: 18px; }
.fz-30 {font-size: 30px; }
.fz-48 {font-size: 48px !important; }
.fw100 {font-weight: 100; }
.fw300 {font-weight: 300; }
.fw400 {font-weight: 400 !important; }
.fw500 {font-weight: 500; }
.f700 {font-weight: 700; }
.fsi {font-style: italic; }

.mt--260 {margin-top: -260px; }
.mt--160 {margin-top: -160px; }
.mt-10 {margin-top: 10px; }
.mt-15 {margin-top: 15px; }
.mt-20 {margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 {margin-top: 35px; }
.mt-40 {margin-top: 40px; }
.mt-50 {margin-top: 50px; }
.mt-60 {margin-top: 60px; }
.mt-70 { margin-top: 70px; }
.mt-80 {margin-top: 80px; }
.mt-100 {margin-top: 100px; }
.mt-120 {margin-top: 120px; }
.mt-150 {margin-top: 150px; }
.ml-0 {margin-left: 0 !important; }
.ml-5 {margin-left: 5px !important; }
.ml-10 {margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 {margin-left: 20px; }
.ml-30 {margin-left: 30px; }
.ml-50 {margin-left: 50px; }
.mr-0 {margin-right: 0 !important; }
.mr-5 {margin-right: 5px !important; }
.mr-15 {margin-right: 15px; }
.mr-10 {margin-right: 10px; }
.mr-20 {margin-right: 20px; }
.mr-30 {margin-right: 30px; }
.mr-50 {margin-right: 50px; }
.mb-0 {margin-bottom: 0px; }
.mb-0-i {margin-bottom: 0px !important; }
.mb-5 {margin-bottom: 5px; }

.mb-10 {margin-bottom: 10px; }
.mb-15 {margin-bottom: 15px; }
.mb-20 {margin-bottom: 20px; }
.mb-25 {margin-bottom: 25px; }
.mb-30 {margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 {margin-bottom: 50px; }
.mb-60 {margin-bottom: 60px; }
.mb-70 {margin-bottom: 70px; }
.mb-80 {margin-bottom: 80px; }
.mb-90 { margin-bottom: 90px; }
.mb-100 {margin-bottom: 100px; }

.pt-0 {padding-top: 0px; }
.pt-10 {padding-top: 10px; }
.pt-15 {padding-top: 15px; }
.pt-20 {padding-top: 20px; }
.pt-25 {padding-top: 25px; }
.pt-30 {padding-top: 30px; }
.pt-40 {padding-top: 40px; }
.pt-50 {padding-top: 50px; }
.pt-60 {padding-top: 60px; }
.pt-70 {padding-top: 70px; }
.pt-80 {padding-top: 80px; }
.pt-90 {padding-top: 90px; }
.pt-100 {padding-top: 100px; }
.pt-120 {padding-top: 120px; }
.pt-150 {padding-top: 150px; }
.pb-0 {padding-bottom: 0px; }
.pb-10 {padding-bottom: 10px; }
.pb-15 {padding-bottom: 15px; }
.pb-20 {padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 {padding-bottom: 30px; }
.pb-40 {padding-bottom: 40px; }
.pb-50 {padding-bottom: 50px; }
.pb-60 {padding-bottom: 60px; }
.pb-70 {padding-bottom: 70px; }
.pb-80 {padding-bottom: 80px; }
.pb-90 {padding-bottom: 90px; }
.pb-100 {padding-bottom: 100px; }
.pb-120 {padding-bottom: 120px; }
.pb-150 {padding-bottom: 150px; }
.pr-30 {padding-right: 30px; }
.pr-40 {padding-right: 40px; }
.pr-90 {padding-right: 90px; }
.pl-30 {padding-left: 30px; }
.pl-40 {padding-left: 40px; }
.pl-90 {padding-left: 90px; }
.p-40 {padding: 40px; }

.float-left {float: left; }
.float-right {float: right; }
.text-italic {font-style: italic; }
.text-white {color: #fff; }
a {color: #031d1a; }
.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; 
}
h1 {font-size: 42px; }

h2 {font-size: 30px; }

h3 {font-size: 24px; }

h4 {font-size: 21px; }

h5 {font-size: 16px; }

h6 {font-size: 14px; }

h1, h2, h3, h4, h5, h6 {line-height: 1.2em; }
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #0827af; 
}
.button-area {background: #fff; 
}
.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee; 
}
.footer-area .single-footer-widget .click-btn, .footer-area .footer-bottom .footer-social a:hover {
  background: -webkit-linear-gradient(45deg, #257970 0%, #1d8177 100%);
  background: -moz-linear-gradient(45deg, #257970 0%, #1d8177 100%);
  background: -o-linear-gradient(45deg, #257970 0%, #1d8177 100%);
  background: -ms-linear-gradient(45deg, #257970 0%, #1d8177 100%);
  background: linear-gradient(45deg, #257970 0%, #1d8177 100%); 
}
/* debashish */
.bg-red{background-color: #ff0000}

.contact-icon{
  max-width: 60px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.contact button{
  background-color:#363636;
  color:#fff;
  border-color: #363636;
  font-weight: 300;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0;
}
.contact button:hover{background-color: #0063a5 !important}
.contact ::placeholder{
  color:#ff0000;
  font-weight: normal;
}
.contact .form-control{
  font-size: 14px;
  border-radius: 0;
  background-color: #36363673;
  border: none;
}

.current-menu{color:#ff0000 !important}
.search button[type=submit] i{color: #ed2124}
.search input::placeholder{color: #a7a8ac; font-weight: lighter;}
.search input{
  border-color: #a7a8ac; 
  border-radius: 0;
  font-size: .8rem;
  max-height: 30px;
  font-weight: 300;
}
.search button, .search .form-control{background-color: transparent;}
.search button{border: 1px solid #a7a8ac}
